* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(login-vector.svg);
  background-size: 700px;
  background-position: left;
  background-repeat: no-repeat;
  background-color: white;
  text-align: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  width: 400px;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(229, 229, 229, 0.67) 100%
  );
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(229, 229, 229, 0.67) 100%
  );
}

.container h2 {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.container h3 {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
.donor-age {
  padding-right: 5px;
}
.blood-group {
  padding-left: 5px;
}

.form-group {
  padding-bottom: 8px;
}

.container button {
  display: block;
  width: 20%;
  margin: 15px auto;
}
.upload-container {
  color: grey;
  border: 1px solid grey;
}
.upload-container:hover {
  border: 1px solid black;
}
/* .upload{
    width:10%;
} */
.btn {
  margin: 0px 9px;
  background-color: rgb(73, 70, 70);
  color: white;
  /* padding: 4px 14px; */
  /* border: 2px solid grey; */
  border-radius: 10px;
  /* font-size: 20px; */
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: rgb(39, 36, 36);
}
/* .form-group input {
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', cursive;
} */
label {
  font-size: 15px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
.FormControl{
    background-color: white;

}
